body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    width: 920px;
    height: 1750px;
    background-color: lightgrey;
}


.top-element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 920px;
    height: 720px;
    background-color: aqua;
}


.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    width: 920px;
    height: 35px;
}


.header-link {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}


hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 920px;
    height: 140px;
}


h1 {
    width: 405px;
    font-size: 40px;
    margin: 0;
}


subtitle {
    display: flex;
    justify-content: center;
    width: 920px;
    margin: 0;
}


.developer {
    display: flex;
    justify-content: center;
    width: 920px;
    height: 540px;
    background-image: url(./image/web-developer.png);
    background-color: transparent;
    background-repeat: no-repeat;
}


.space-separator {
    width: 920px;
    height: 0px;
}


.central-element {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 920px;
    height: 500px;
    background-color: bisque;
}


aside {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 460px;
    margin-top: 40px;
    margin-left: 20px;
}


.icon1 {
    margin: 10px 0 30px 10px;
    width: 32px;
    height: 32px;
    background-image: url(./image/github.png);
    background-repeat: no-repeat;
}


.information {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    height: 20px;
    margin-left: 50px;
}


p1 {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 20px;
    margin: 0;
    font-size: 18px;
}


.fa-solid.fa-arrow-up-right {
    display: flex;
    justify-content: flex-end;
    width: 20px;
    height: 20px;
    background-image: url(./image/up-right-arrow.png
    );
    background-color: transparent;
    background-size: 20px;
    background-repeat: no-repeat;
}


.instruments {
    display: flex;
    flex-wrap: wrap;
    width: 705px;
    height: 500px;
    margin-left: 15px;
}


.instruments-element {
    display: flex;
    flex-direction: column;
    width: 235px;
    height: 250px;
}


h2 {
    width: 180px;
    height: 80px;
    margin: 0;
}


.icon2 {
    margin: 10px 0 30px 10px;
    background-size: 32px;
    width: 32px;
    height: 32px;
    background-image: url(./image/vscode.png);
    background-repeat: no-repeat;

}


h3 {
    margin: 0;
    width: 193px;
    height: 42px;
}


.icon3 {
    margin: 10px 0 15px 10px;
    background-size: 32px;
    width: 220px;
    height: 46px;
    background-image: url(./image/web.png);
    background-repeat: no-repeat;
}


.icon4 {
    margin: 10px 0 10px 10px;
    background-size: 32px;
    width: 230px;
    height: 46px;
    background-image: url(./image/wakatime.svg);
    background-repeat: no-repeat;
}


.icon5 {
    margin: 10px 0 10px 10px;
    background-size: 48px;
    width: 230px;
    height: 46px;
    background-image: url(./image/html.png);
    background-repeat: no-repeat;
}


.icon6 {
    margin: 10px 0 10px 10px;
    background-size: 32px;
    width: 230px;
    height: 46px;
    background-image: url(./image/css.png);
    background-repeat: no-repeat;
}


.icon7 {
    margin: 10px 0 10px 10px;
    background-size: 48px;
    width: 230px;
    height: 48px;
    background-image: url(./image/social.png);
    background-repeat: no-repeat;
}


.last-element {
    display: flex;
    flex-wrap: wrap;
    width: 920px;
    height: 530px;
    background-color: #ffffff;
}


.container {
    display: flex;
    width: 820px;
    height: 480px;
    margin: 50px 50px 0 50px;
}


.container-image1 {
    margin: 0;
    width: 380px;
    height: 480px;
    background-image: url(./image/sw.png);
    background-repeat: no-repeat;
    border-radius: 30px;
}


.container-image2 {
    width: 460px;
    height: 530px;
}